
.home {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 3.5rem;
}

img {
  border-radius: .5rem;
  height: 60vh;
  width: 100%;
  object-fit: cover;
}

.btn1 {
  display: inline-block;
  cursor: pointer;
  padding: 1rem 3rem;
  border: var(--border);
  font-size: 1.8rem;
  color: var(--sub-color);
  text-align: center;
  text-transform: capitalize;
  transition: .2s linear;
  margin-top: 1rem;
  background-color: var(--main-color);
  margin-left: 920px; /* Adjust this value to move it slightly to the right */
}


/* Heading Styling */












